<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>https://cdn.icon-icons.com/icons2/2699/PNG/512/netflix_logo_icon_170919.png</string>
		<key>id</key>
		<integer>1</integer>
		<key>subName</key>
		<string>넷플릭스</string>
		<key>plan</key>
		<dict>
			<key>베이직</key>
			<string>9900원/월</string>
			<key>스탠다드</key>
			<string>12000원/월</string>
			<key>프리미엄</key>
			<string>13500원/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://m.cj.net/upfiles/editor/0000006252768003587583530.jpg</string>
		<key>id</key>
		<integer>2</integer>
		<key>subName</key>
		<string>티빙</string>
		<key>plan</key>
		<dict>
			<key>베이직</key>
			<string>7900원/월</string>
			<key>스탠다드</key>
			<string>10900원/월</string>
			<key>스탠다드(년)</key>
			<string>77000원/년</string>
			<key>프리미엄</key>
			<string>13900원/월</string>
			<key>프리미엄(년)</key>
			<string>99000원/년</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://image.rocketpunch.com/company/126/watcha_logo_1611108610.png?s=400x400&amp;t=inside</string>
		<key>id</key>
		<string>3</string>
		<key>subName</key>
		<string>왓차</string>
		<key>plan</key>
		<dict>
			<key>베이직</key>
			<string>7900원/월</string>
			<key>프리미엄</key>
			<string>12900원/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://cdn.icon-icons.com/icons2/2201/PNG/512/apple_music_android_logo_icon_134021.png</string>
		<key>id</key>
		<string>4</string>
		<key>subName</key>
		<string>애플뮤직</string>
		<key>plan</key>
		<dict>
			<key>개인</key>
			<string>8900원/월</string>
			<key>가족</key>
			<string>13500원/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://cdn.icon-icons.com/icons2/2429/PNG/512/spotify_logo_icon_147234.png</string>
		<key>id</key>
		<string>5</string>
		<key>subName</key>
		<string>스포티파이</string>
		<key>plan</key>
		<dict>
			<key>개인</key>
			<string>10900원/월</string>
			<key>듀오</key>
			<string>16350원/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://cdn.icon-icons.com/icons2/1584/PNG/512/3721679-youtube_108064.png</string>
		<key>id</key>
		<string>6</string>
		<key>subName</key>
		<string>유튜브 프리미엄</string>
		<key>plan</key>
		<dict>
			<key>개인</key>
			<string>9500원/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://cdn.icon-icons.com/icons2/2429/PNG/512/kakaotalk_logo_icon_147272.png</string>
		<key>id</key>
		<string>7</string>
		<key>subName</key>
		<string>카카오톡 이모티콘플러스</string>
		<key>plan</key>
		<dict>
			<key>이모티콘 플러스</key>
			<string>3900원/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://blog.kakaocdn.net/dn/cjAuLt/btqB8PVMFOv/MummOrMRlzCD3X0QcDqAkK/img.jpg</string>
		<key>id</key>
		<string>8</string>
		<key>subName</key>
		<string>쿠팡 로켓와우</string>
		<key>plan</key>
		<dict>
			<key>로켓와우</key>
			<string>2900원/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://image.rocketpunch.com/company/5466/naver_logo.png?s=400x400&amp;t=inside</string>
		<key>id</key>
		<string>9</string>
		<key>subName</key>
		<string>네이버 멤버쉽플러스</string>
		<key>plan</key>
		<dict>
			<key>멤버쉽 플러스</key>
			<string>4900월/월</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://image.winudf.com/v2/image1/a3IuY28ubWlsbGllLm1pbGxpZXNoZWxmX2ljb25fMTYxMDAxNzA1OF8wNzQ/icon.png?w=170&amp;fakeurl=1</string>
		<key>id</key>
		<string>10</string>
		<key>subName</key>
		<string>밀리의 서재</string>
		<key>plan</key>
		<dict>
			<key>전자책 정기구독</key>
			<string>9900원/월</string>
			<key>전자책 정기구독(년)</key>
			<string>99000원/년</string>
			<key>종이책 정기구독</key>
			<string>15900원/월</string>
			<key>종이책 정기구독(년)</key>
			<string>183000원/년</string>
		</dict>
	</dict>
	<dict>
		<key>img</key>
		<string>https://image.winudf.com/v2/image1/Y29tLnllczI0LmNvbW1lcmNlX2ljb25fMTU2MTk3Njk2MF8wMjk/icon.png?w=&amp;fakeurl=1</string>
		<key>id</key>
		<string>11</string>
		<key>subName</key>
		<string>예스24</string>
		<key>plan</key>
		<dict>
			<key>스탠다드</key>
			<string>5500원/월</string>
			<key>프리미엄</key>
			<string>7700원/월</string>
			<key>북클럽xFLO</key>
			<string>9900원/월</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>subName</key>
		<string>추가하기</string>
	</dict>
</array>
</plist>
